﻿@{
    ViewData["Title"] = "Shopping cart";
}
@model SalesTaxes.WebClient.Models.Order
<div class="container p-2">
    <div class="row pt-1">
        <div class="col-6">
            <h3 class="text-primary">
                Ticket
            </h3>
        </div>
        <br />
        <div class="col-6 text-right">
            <a asp-controller="Order" asp-action="CleanOrder" class="btn btn-primary btn-sm">Clean</a>
        </div>
    </div>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Aditional
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderDetail in Model.ItemsOrderDetail)
                {
                    <tr>
                        <td width="30%">@orderDetail.ProductName</td>
                        <td width="30%">@string.Format("${0}", orderDetail.Total)</td>
                        <td width="30%">
                            @if (orderDetail.Quantity > 1)
                            {
                                @string.Format("({0} @ {1})", orderDetail.Quantity, (orderDetail.UnitPrice + (orderDetail.Taxes / orderDetail.Quantity)))
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td width="30%">Sales Taxes: </td>
                    <td width="30%">@string.Format("${0}", Model.TotalTaxes)</td>
                </tr>
                <tr>
                    <td width="30%">Total: </td>
                    <td width="30%">@string.Format("${0}", Model.Total)</td>
                </tr>
            </tbody>
        </table>


</div>