﻿@{
    ViewData["Title"] = "Shopping cart";
}
@model IEnumerable<SalesTaxes.WebClient.Models.Product>
<div class="container p-2">
    <div class="row pt-1">
        <div class="col-6">
            <h3 class="text-primary">
                Shopping Cart
            </h3>
        </div>
        <br />
        <div class="col-6 text-right">
            <a asp-controller="Order" asp-action="Index" class="btn btn-primary btn-sm">Do Order</a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Product Name
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Accion
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var productItem in Model)
                {
                    <tr>
                        <td width="30%">@productItem.Name</td>
                        <td width="30%">@productItem.ProductType.ToString()</td>
                        <td width="30%">@string.Format("${0}", productItem.Price)</td>
                        <td width="30%">
                            
                            <div class="btn-group btn-group-toggle">
                                <label class="btn btn-success btn-sm">
                                    <a asp-action="Add" asp-route-id="@productItem.ProductId">Add</a>
                                </label>
                                <label class="btn btn-secondary btn-sm">
                                    <input type="radio" name="options" id="option2" autocomplete="off"> @productItem.Quantity
                                </label>
                                <label class="btn btn-danger btn-sm">
                                    <a asp-action="Remove" asp-route-id="@productItem.ProductId">Remove</a>
                                </label>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
</div>